footer {
  background: #0d0d0d;
  color: white;
  padding: 30px 60px;
}

@media (max-width: 768px) {
  footer {
    padding: 30px 20px;
  }
}

footer a {
  color: #78dbd2;
  text-decoration: none;
}

.footer__logo {
  padding: 10px 0;
  max-width: 10rem;
  filter: invert();
}

hr {
  border: 0.03125rem solid #666;
  margin: 20px 0;
}

.footer-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-top-section > div {
  display: flex;
  align-items: center;
}

.footer-socials a {
  padding: 2px;
}

footer input {
  color: hsla(0, 0%, 100%, 0.38);
  font-weight: 300;
  background: #333;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding: 0.8rem 0 0.8rem 1rem;
  /*     max-width: 500px; */
  transition: 0.2s;
}

.footer-bottom-section {
  text-align: center;
}
