.code-box{
    max-width: 700px;
    margin: auto;
    padding: 2em 1.5em;
    background-color: #aaa;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px #555;
    overflow: scroll;
}
.palabra-reservada{
    color: #99f;
}
.simbolo{
    color: #e0e;
}
.comentario{
    color: #181;
}
code{
    color: #ee5;
}
figure{
    display: block;
    width: 100%;
    text-align: center;
}