@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

:root{
  --header-height: 50px;
  --footer-height: 200px;
  --content-height: calc(100vh - var(--header-height));
}
html,
body {
  font-family: "Dosis";
  font-weight: 400;

}

@media all and (min-width: 768px) {
  .uncollapsed {
   display: flex; 
   justify-content: space-around;
  }
}

.header {
  min-height: var(--header-height);
  width: 100%;
  border-bottom: .5px solid black;
  text-align: right;
  position: relative;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: 100;
  padding: 26px;
  border-right: 1px solid yellow;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-dark .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.link {
  display: inline-block;
  padding: 5px 0;
 /* margin: 15px 25px;*/
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  color: white;
  border-bottom: 5px solid yellow;
}
.link:hover {
  color: yellow;
  border-bottom: 5px solid white;
  transition: all .5s ease-out ;

}